html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    color: #292929;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.4;
}

p {
    margin: 0;
    font-size: 0.9em;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #ff5722;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #666666;
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 0.8em 0;
}

header {
    background-image: url('../img/header.png');
    /*subtlepatterns.com*/
}

footer {
    background-color: #bec1c2;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
    padding: 15px;
}

ul {
    margin: 0;
}

i {
    margin: 0 16px;
    color: #888 ;
    font-size: 1.6em;
    transition: opacity .2s linear, color .2s linear;
    -webkit-transition: opacity .2s linear, color .2s linear;
}

.splash-text {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

.nav-wrapper {
    height: auto;
}

#nav {
    width: 100%;
    background: #303030;
    text-align: center;
    opacity: 0.95;
    z-index: 3;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav li {
    margin: 7px 15px;
    padding: 4px;
    font-weight: 700;
    display: inline-block;
}

#nav li a {
    color: #ffffff;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
}

#nav li a:hover {
    background: none;
    border: none;
    color: #ff5722;
}

.fixed {
    position: fixed !important;
    top: 0 !important;
}

.content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0;
}

.inner-content-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.pre-footer {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
}

.flexible {
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    letter-spacing: -0.31em;
}

.opera-only :-o-prefocus,
.flexible {
    word-spacing: -0.43em;
}

.flexible-1-3, .flexible-1-2, .flexible-2-3 {
    width: 100%;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.inline {
    display: inline;
}

.color1 {
    background-color: #292929;
}

.color2 {
    background-color: #ffffff;
}

.color3 {
    background-color: #dee1e2;
}

.white-text {
    color: #ffffff;
}

.portrait {
    width: 120px;
    height: 120px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    background: url('../img/me.jpg');
    background-size: cover;
    border: 2px solid #bec1c2;
}

.text-content {
    padding: 0 20px;
    text-align: center;
}

.half-content {
    max-width: 600px;
    margin: 0 auto;
}

.half-content li {
    margin-left: -2.7em;
    list-style: none;
}

.bullet {
    font-weight: 700;
    margin-right: 0.5em;
}

.center {
    text-align: center;
}

.twitter:hover {
    color: #55acee;
}

.github:hover {
    color: #111111;
}

.linkedin:hover {
    color: #007bb6;
}

.email:hover {
    color: #f6936f;
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Styling for tablets
 */
@media only screen and (min-width:30em)  {
    body {
        font-size: 0.95em;
    }

    h1 {
        font-size: 4.0em;
    }

    h2 {
        font-size: 2.0em;
    }

    h3 {
        font-size: 1.6em;
    }

    i {
        margin: 13px;
        font-size: 1.7em;
    }

    #nav li {
        padding: 6px;
    }

    .portrait {
        width: 160px;
        height: 160px;
    }
}

/*
 * Styling for desktops
 */
@media only screen and (min-width: 48em) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 5.3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.7em;
    }

    i {
        margin: 0 10px;
        font-size: 1.8em;
    }

    #nav li {
        padding: 7px;
    }

    .portrait {
        width: 200px;
        height: 200px;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .flexible-1-3 {
        width: 33.3333%;
    }

    .flexible-2-3 {
        width: 66.6666%;
    }

    .flexible-1-2 {
        width: 50%;
    }

    .two-third-content {
        padding-left: 0;
    }

    .text-content {
        text-align: left;
    }

    .half-content {
        max-width: 400px
    }

    .half-content li {
        margin-left: 1em;
        list-style: disc;
        list-style-position: outside;
    }

    .bullet {
        display: none;
    }

    .inline {
        display: block;
    }
}
