html,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    color: #292929;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.4;
}

p {
    margin: 0;
    font-size: 0.9em;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #ff5722;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;    
}
    
h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #666666;
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 0 0 0.8em 0;
}

header {
    background-image: url('../img/header.png');
    /*subtlepatterns.com*/
}

footer {
    background-color: #bec1c2;
    margin: 0 auto;
    font-size: 0.9em;  
    text-align: center;
    padding: 20px;
}

ul {
    margin: 0;
}

i {
    margin: 10px 8px 0 8px;
    padding: 12px;
    border-radius: 50%;
    border: 3px solid #bbbbbb;
    color: #eeeeee;
    font-size: 1.8em;
    opacity: 0.8;
    transition: opacity .2s linear, color .2s linear;
    -webkit-transition: opacity .2s linear, color .2s linear;
}

i:hover {
    opacity: 1;
    color: #ffffff;
}

.splash-text {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

.nav-wrapper {
    height: auto;
}

#nav {
    width: 100%;
    background: #111111;   
    text-align: center;
    opacity: 0.85;
    z-index: 3;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav li {
    margin: 7px 2px;
    padding: 4px;
    font-weight: 700;
    display: inline-block; 
}

#nav li a {
    color: #ffffff;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
}

#nav li a:hover {
    background: none;
    border: none;
    color: #ff5722; 
}

.fixed {
    position: fixed !important; 
    top: 0 !important; 
}

.content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0; 
}

.inner-content-wrapper {
    max-width: 1000px;
    margin: 0 auto; 
}

.color1 {
    background-color: #292929;
}

.color2 {
    background-color: #ffffff;
}

.color3 {
    background-color: #dee1e2;
}

.white-text {
    color: #ffffff;
}

.portrait {
    width: 120px;
    height: 120px;
    margin: 0 auto 30px auto;    
    border-radius: 50%;
    background: url('../img/me.jpg');
    background-size: cover;
    border: 2px solid #bec1c2;
}

.text-content {
    padding: 0 15px;
    text-align: center;
}

.half-content {
    max-width: 400px;
    margin: 0 auto;
}

.half-content li {
    margin-left: -3em;
    list-style-position: inside;
}

.center {
    text-align: center;
}

.twitter {
    background-color: #3686be;
}

.github {
    background-color: #93cc76;
}

.linkedin {
    background-color: #e8c558;
}

.email {
    background-color: #f6936f;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Styling for tablets
 */
@media only screen and (min-width:30em)  {
    body {
        font-size: 0.95em;
    }

    h1 {
        font-size: 4.0em;
    }

    h2 {
        font-size: 2.0em;
    }

    h3 {
        font-size: 1.6em;
    }

    i {
        margin: 10px 14px 0 14px;
        padding: 16px;
        font-size: 2.4em;
    }

    #nav li {
        padding: 6px;
    }

    .portrait {    
        width: 160px;
        height: 160px;
    }
}

/*
 * Styling for desktops
 */
@media only screen and (min-width: 48em) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 5.3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.7em;
    }

    i {
        margin: 10px 20px 0 20px;
        padding: 20px;
        font-size: 3em;
    }

    #nav li {
        padding: 7px;
    }

    .portrait {    
        margin: 0px auto;
        width: 200px;
        height: 200px;
    }

    .text-content {
        text-align: left;
    }

    .half-content li {
        margin-left: 0;
        list-style-position: outside;
    }
}